/* sp */
/* @media screen and (max-width: 767px) {
} */

/* pc */
/* @media screen and (min-width: 768px) {
} */

/*******************************/
/* General */
/*******************************/
.bg-stripe {
  background: repeating-linear-gradient(45deg, #fff, #fff 0.5rem, #f5f5f5 0, #f5f5f5 1rem);
  z-index: -10;
}

.bg-dot {
  background-repeat: repeat;
  background-image: radial-gradient(#f5f5f5 20%, transparent 20%),
    radial-gradient(#f5f5f5 20%, transparent 20%);
  background-size: 8px 8px;
  background-position: 0 0, 5px 5px;
}

@media screen and (min-width: 768px) {
  .bg-tripe {
    background: repeating-linear-gradient(45deg, #fff, #fff 1.5rem, #f5f5f5 0, #f5f5f5 3rem);
  }

  .bg-dot {
    background-size: 3rem 3rem;
    background-position: 0 0, 15px 15px;
  }
}

.point h2,
.qa h2,
.reason h2,
.faq h2 {
  font-size: 1.8rem;
  line-height: calc(22 / 18);
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.6rem 0;
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  .point h2,
  .qa h2,
  .reason h2,
  .faq h2 {
    font-size: 4rem;
    line-height: 4rem;
    border-radius: 2rem;
    width: 94.8rem;
    margin: 0 auto;
    padding: 4rem 0 3.6rem;
    /* for point heading line */
    letter-spacing: 0.2rem;
  }
}

.qa h2,
.reason h2 {
  background-color: #f940bc;
  color: #fff;
}

/*******************************/
/* Header */
/*******************************/
.header {
  background-image: url('./assets/main_sp.jpg');
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 41.7rem;
  padding-right: 0.3rem;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url('./assets/main_pc.jpg');
    height: 68.4rem;
    background-position: center top;
    padding-right: 2rem;
  }
}

.header-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 8.4rem 0 8.8rem;
}

@media screen and (min-width: 768px) {
  .header-text-container {
    width: 100%;
  }
}

.appeal-text p {
  display: inline-block;
  font-size: 1.9rem;
  line-height: calc(1.9rem + 0.5rem * 2);
  text-shadow: 3px 0px 0px #fff;
  padding-right: 0.1rem;
  background: linear-gradient(transparent calc(100% - 10px), #f940bc calc(100% - 10px));
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .appeal-text p {
    font-size: 4.5rem;
    line-height: calc(4.5rem + 1.6rem * 2);
    background: linear-gradient(transparent calc(100% - 2rem), #f940bc calc(100% - 2rem));
  }

  .appeal-text br + p {
    margin-top: 0.9rem;
  }
}

.header-text-container img {
  width: 22rem;
  margin: 3.7rem 0.8rem 3.4rem auto;
  padding-right: 0.3rem;
}

@media screen and (min-width: 768px) {
  .header-text-container img {
    width: 45rem;
    margin: 4.8rem 5rem 2.6rem auto;
  }
}

/*******************************/
/* Contact */
/*******************************/
.contact {
  background-color: #3fbcfa;
}

.contact .contents_width {
  padding: 1.8rem 0 2rem;
}

@media screen and (min-width: 768px) {
  .contact .contents_width {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.8rem;
    padding: 4.4rem 0 4.5rem;
  }
}

.contact p {
  font-size: 1.6rem;
  line-height: calc(30 / 16);
  color: #fff;
  text-align: center;
  text-shadow: 10px 0px 10px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .contact p {
    font-size: 3.8rem;
    line-height: calc(59 / 38);
  }
}

.hoverflash {
  display: block;
  width: 13.4rem;
  margin: 0 auto;
  padding: 1.3rem 0;
  font-size: 1.5rem;
  background-color: #bdfa3e;
  color: #454545;
  border-radius: 2.4rem;
  margin-top: 1.2rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .hoverflash {
    width: 28.4rem;
    padding: 2.5rem 0;
    border-radius: 5.5rem;
    margin: 0;
    font-size: 3.8rem;
    line-height: calc(59 / 38);
  }
}

.contact .hoverflash::before {
  content: '';
  display: block;
  width: 5rem;
  height: 300%;
  top: 50%;
  position: absolute;
  background-color: #fff;
  transform: translate(-500%, -50%) rotate(-45deg);
  transition: transform 0.5s ease;
}

.contact .hoverflash:hover::before {
  transform: translate(500%, -50%) rotate(-45deg);
}
/*******************************/
/* Interest */
/*******************************/
.interest {
  position: relative;
  width: 100%;
}

.interest::after {
  content: url('./assets/thinking_w.png');
  display: inline-block;
  width: 19.2rem;
  height: 16.5rem;
  position: absolute;
  top: -1.5rem;
  right: -1.2rem;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .interest::after {
    content: url('./assets/thinking_w-pc.png');
    position: absolute;
    width: 63rem;
    height: auto;
    top: auto;
    right: auto;
    bottom: -0.1rem;
    right: -4rem;
    z-index: -1;
  }
}

.interest .contents_width {
  padding: 6.3rem 0 4.6rem;
}

@media screen and (min-width: 768px) {
  .interest .contents_width {
    padding: 7rem 0 6rem;
  }
}

.interest h2 {
  font-size: 1.4rem;
  line-height: calc(16 / 14);
  font-weight: 900;
  padding-left: 4rem;
}

@media screen and (min-width: 768px) {
  .interest h2 {
    font-size: 3.1rem;
    line-height: 1;
    padding-left: 0;
  }
}

.interest ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.3rem;
  padding: 0 4rem;
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .interest ul {
    padding: 0;
    margin-top: 5.4rem;
    max-width: 76.9rem;
    gap: 2.9rem;
  }
}

.interest li {
  font-size: 1.4rem;
  line-height: 1;
  background-color: #fff;
  border-radius: 2.4rem;
  border: solid 0.2rem #707070;
  padding: 1.5rem 0.5rem 1.5rem 1rem;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .interest li {
    font-size: 3rem;
    line-height: calc(40 / 30);
    border-radius: 5rem;
    border: solid 0.7rem #707070;
    padding: 2.5rem 0.5rem 2.5rem 1rem;
  }
}

.interest .appeal-text {
  text-align: center;
}

.interest .appeal-text p {
  font-size: 1.5rem;
  line-height: calc(30 / 15);
  letter-spacing: calc((-30 / 1000) * 1.5rem);
  margin-top: 3.7rem;
  margin-left: 0.1rem;
}

@media screen and (min-width: 768px) {
  .interest .appeal-text {
    text-align: left;
  }
  .interest .appeal-text p {
    font-size: 3.7rem;
    line-height: calc(60 / 37);
    letter-spacing: normal;
    margin-top: 3.6rem;
  }
}

/*******************************/
/* Point */
/*******************************/
.point {
  background-color: #3fbcfa;
  color: #fff;
}

.point .contents_width {
  padding: 2.4rem 0 4.8rem;
}

@media screen and (min-width: 768px) {
  .point .contents_width {
    padding: 6rem 0 9rem;
  }
}

.point h2 {
  background-color: #fff;
  color: #3fbcfa;
}

.point-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;
}

@media screen and (min-width: 768px) {
  .points-container {
    margin-top: 6rem;
  }

  .point-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 85.8rem;
    margin: 0 auto;
  }

  .point-box + .point-box {
    margin-top: 6rem;
  }
}

.point-2 {
  margin-top: 3.5rem;
}

.point-3 {
  margin-top: 3.6rem;
}

@media screen and (min-width: 768px) {
  .point-2,
  .point-3 {
    margin-top: 0;
  }
}

.point-num {
  font-size: 4rem;
  line-height: 3.8rem;
  border-bottom: solid 0.1rem #fff;
  width: 8.1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .point-num {
    font-size: 7rem;
    line-height: 7rem;
    width: 14rem;
    border-bottom: none;
    text-align: left;
    height: 100%;
    padding-right: 3rem;
    flex-basis: content;
    letter-spacing: calc((100 / 1000) * 7rem);
  }
}

.point-title {
  font-size: 1.5rem;
  line-height: calc(21 / 15);
  margin-top: 2.3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .point-text-box {
    border-left: solid 0.7rem #fff;
    padding: 2rem 0 1rem 2.6rem;
  }
  .point-title {
    font-size: 3rem;
    line-height: calc(36 / 30);
    margin-top: 0;
    text-align: left;
  }
}

.point-text p {
  width: 100%;
  font-size: 1.4rem;
  line-height: calc(16 / 14);
  margin-top: 1.3rem;
  padding: 0 2.3rem 0 1.8rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .point-text p {
    width: 69rem;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
    margin-top: 2rem;
    padding: 0;
  }
}

/*******************************/
/* QA */
/*******************************/
.qa .contents_width {
  padding: 2.6rem 0 4.8rem;
}

.qa-container {
  margin-top: 1.6rem;
  padding: 0 2.1rem 0 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.qa-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1.7rem 1.4rem;
}

.qa-box img {
  width: 20.5rem;
  margin: 0 auto;
}

.question {
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: calc(17 / 15);

  font-weight: 900;
}

.answer {
  margin-top: 1.3rem;
  color: #f940bc;
  font-size: 1.4rem;
  line-height: calc(16 / 14);

  display: flex;
  align-items: center;
}

.question span,
.answer span {
  display: block;
  font-family: var(--font-p);
  font-weight: 900;
  font-size: 1.8rem;
  margin-right: 1.5rem;
}

/*******************************/
/* Reason */
/*******************************/
.reason .contents_width {
  padding: 2.3rem 0 4.8rem;
}

.reason-container {
  margin: 1.5rem 1.7rem 0 1.8rem;
  padding: 2.5rem 2rem 2.5rem 2rem;
  border: solid 0.1rem #707070;
  border-radius: 0.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason h3 {
  display: inline-block;
  font-size: 1.6rem;
  line-height: calc(20 / 16);

  border-bottom: solid 0.1rem #f940bc;
  padding-bottom: 1rem;

  margin-bottom: 1.3rem;
}
.reasons-box {
  display: flex;
  flex-direction: column;

  gap: 2.6rem;
}

.reason-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.reason-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;

  font-size: 1.4rem;
  line-height: calc(16 / 14);
  padding: 0 0.3rem 0 0.2rem;
}

/*******************************/
/* FAQ */
/*******************************/
.faq .contents_width {
  padding: 2.5rem 0 4.4rem;
}

.faq h2 {
  background-color: #3fbcfa;
  color: #fff;
  width: 17.9rem;
  margin: 0 auto;
  padding: 1rem 0 1.4rem;
}

.faq-container {
  margin-top: 1.6rem;
  padding: 0 2.1rem 0 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 1.4rem;
  line-height: calc(16 / 14);
}

.faq-box {
  background-color: #fff;
}

.acc-header {
  position: relative;
  display: flex;
  cursor: pointer;
  padding: 0.5rem 2.4rem 0.9rem 0.6rem;
  border-bottom: solid 0.1rem #707070;
}
.acc-header::before {
  content: 'Q：';
  display: inline;
}

.acc-header:hover {
  opacity: 0.5;
}

.accordion-symbol {
  position: absolute;
  top: 0;
  right: 0.8rem;
  transform: translate(0, 50%);
  font-weight: 900;
}

.acc-child {
  font-size: 1.4rem;
  line-height: calc(16 / 14);
  width: 100%;
  display: flex;
  padding: 0.5rem 2.4rem 1.1rem 0.6rem;
}

.acc-child::before {
  content: 'A：';
  display: inline;
}

/*******************************/
/* Footer */
/*******************************/
.footer {
  padding: 5.1rem 0;
}

footer img {
  width: 18.8rem;
  margin: 0 auto;
  display: block;
}

.footer-text {
  text-align: center;
  margin-top: 0.9rem;
  font-size: 1.2rem;
  line-height: calc(18 / 12);
  color: #777777;
}
